@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  background:#fff;
  color:#111827;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
}

::selection {
  background: black;
  color: white;
}

.marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

